@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  width: calc(var(--blockSize) * 5);
  height: calc(var(--blockSize) * 20);
  border: 1px solid $color-primary;
  border-right: none;

  padding: 10px;
}
