@use 'variables' as *;
@use '../app/game/game-vars.scss' as gv;

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: 'Lato', serif;
  font-size: 20px;
}

ol, ul {
  padding: 0;
}
