@use 'variables' as *;

:host {
  position: relative;;
  width: calc(var(--blockSize) * var(--nrOfHorizontalBlocks) * 1px);
  height: calc(var(--blockSize) * var(--nrOfVerticalBlocks) * 1px);
  border: 1px solid $color-primary;
}
