@use 'variables' as *;
:host {
  background-color: $midnight-green;
  padding: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.active {
  text-decoration: underline;
}

a {
  &:focus-within {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
}
